/* =========================
   CHECKBOX FIX - DO NOT TOUCH
========================= */


.big-check {

    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;

}


.big-check input[type="checkbox"] {

    display:block !important;

    appearance:none;

    width:35px;

    height:35px;

    border-radius:10px;

    border:3px solid var(--accent);

    background:#0f172a;

    cursor:pointer;

    position:relative;

}



.big-check input[type="checkbox"]:checked {

    background:var(--accent);

}



.big-check input[type="checkbox"]:checked::after {


    content:"✓";

    color:white;

    font-size:25px;

    font-weight:bold;

    position:absolute;

    left:5px;

    top:-2px;


}
